<p><%= notice %></p>
<!-- createメソッド等で定義されるnoticeを表示 -->

<section class="main-header">
  <p class="flash"><%= notice %><%= alert %></p>
  <img src="<%= asset_path "achieve.png" %>">
  <!-- Railsのasset_pathを利用することで、画像への自動パスを生成 -->
</section>
<section class="about">
  <h1>About Achieve</h1>
  <p>
     Achieveは、受講生のために作成された、教材用アプリです。<br>
     Achieveを作り終えることで、SecondTeamに参加するための力を身につけることができます。
  </p>
  <p>
     Acheiveを一言で表すと、タスク管理アプリです。<br>
     チームメンバーが、今どのようなタスクを行っているかリアルタイムで把握することができます。
  </p>
</section>
<section class="function container-fluid">
    <!--Bootstrapのrow,cowクラスによりレスポンシブ化。container-fluid：画面一杯に表示-->
  <div class="row">
      <!--まずはBootstrapのrowクラスで対象画像全体を囲い、cowクラスを使用可能とする-->
      <!--rowクラスで1行。1行は12列分。colクラスで12列を分割していく-->
    <h2>Function</h2>
      <div class="function-images">
        <div class="col-md-3 col-sm-6">
            <!--md,xl,sm：画面サイズ(ピクセル数)を検知して制御を振り分け-->
            <!--col-md-3：画像サイズ922px以上のとき、3カラム分で表示-->
            <!--col-sm-6：画像サイズ768px以上のとき、6カラム分で表示-->
            <!--col-sm-12：12がMAX値。-->
          <div class="function-image">
            <img src="<%= asset_path "key.png" %>">
            <p>ログイン機能</p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="function-image">
            <img src="<%= asset_path "mails.png" %>">
            <p>メール送信機能</p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="function-image">
            <img src="<%= asset_path "girls.png" %>">
            <p>友達つながり機能</p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="function-image">
            <img src="<%= asset_path "comment.png" %>">
            <p>コメント投稿機能</p>
          </div>
        </div>
      </div>
  </div>
</section>

<div id="page-top-btn" class="page-top-btn">
  <p><a class="move-page-top" id="move-page-top">▲</a></p>
</div>