<div class="container">
  <div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1">
    <h2>ポエム詳細</h2>
       <div class="row">
        <h4><strong><%= @poem.title %></strong></h4>
        <p>Poem_ID:<%= @poem.id %></p>
        <p>本文：<%= @poem.content %></p>
        <p>作成日：<%= @poem.created_at %></p>
        <p>更新日：<%= @poem.updated_at %></p>
        <%= link_to "戻る", poems_path, class: 'btn btn-default btn-sm btn-success' %>
       </div>
  </div>
</div>
